.tabs
  h1 Tabs displays here
  nav
    ul.tabs_nav
      li(ng-repeat="tab in $ctrl.tabs") {{tab.label}}
  .tabs_content
    tab(ng-repeat="tab in $ctrl.tabs" tab="tab")
  button(type="button" ui-sref="editor") Edit
