.tabs-editor
  ul
    li(class="tabs-editor__tab" ng-repeat="tab in $ctrl.tabs")
      .input-group
        input(type="checkbox" class="input-checkbox" ng-checked="tab.active" ng-model="tab.active" id="tab-{{ $index }}")
        label(for="tab-{{ $index }}") {{ tab.label }}
tabs-footer
  button(type="button" class="button btn-action" ng-click="$ctrl.handleSave()") Сохранить
  button(type="button" class="button" ng-click="$ctrl.handleCancel()") Отмена
