doctype html
html
  head
    base(href="/")
    meta(charset="utf8")
    title Tabs editor
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    div(class="wrapper")
      .bg
      #tabs-app(ng-app="tabs-app")
        ui-view
