html, body {
  height: 100%;
}

html {
  height: 100%;
}

body {
  font: 400 16px/22px 'pt_sans', sans-serif;
  color: $color_text;
  min-height: 100%;
}

.wrapper {
  padding: 5% 0;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.bg {
  z-index: -10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  @include linear-gradient(315deg, #FF4E50 , #F9D423);
}

a {
  color: $color_link;

  &:hover, &.active {
    color: $color_link_hover;
  }

  &:active {
    color: $color_link_active;
  }

  &:visited {
    color: $color_link_visited;
  }
}

em {
  font-style: italic;
}

strong, b {
  font-family: 'pt_sansbold';
  font-weight: 700;
}
