@font-face {
  font-family: 'pt_sansbold';
  src: url('assets/fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
        url('assets/fonts/pt_sans-web-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'pt_sans';
  src: url('assets/fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
        url('assets/fonts/pt_sans-web-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}
