$color_text: #565656;
$color_text_black: #000000;
$color_text_dimmed: #7b7b7b;
$color_link: #1b5980;
$color_link_hover: #2fa7f3;
$color_link_active: #6a2394;
$color_link_visited: #60737f;
$color_tabs_fg: #ffffff;
$color_tabs_bg: #fdf3ff;
$color_tabs_hover: rgba(240, 228, 243, 0.35);
$color_tabs_grad_from: #4776E6;
$color_tabs_grad_to: #8E54E9;
$color_btn_bg: #ece8e7;
$color_btn_text: #333333;
$color_btn_text_hover: #555555;
$color_btn_action_bg: #f55b53;
$color_btn_action_text: #f3f3f3;
$color_btn_action_text_hover: #ffffff;
